# 使用基於 LLVM 的格式風格
BasedOnStyle: LLVM

# 設定縮進為 4 個空格
IndentWidth: 4

# 設定 Tab 寬度為 4 個空格
TabWidth: 4

# 使用空格而不是 Tab
UseTab: Never

# 每行最多 100 個字符
ColumnLimit: 80

# 頂層函式和結構定義的大括號換行。
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false # if/for/while/switch 後大括號換行
  AfterFunction: true         # 函式定義後大括號換行
  AfterStruct: true           # struct 定義後大括號換行
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false         # 大括號本身不額外縮排
# 強制類成員變量按訪問修飾符分組
SortIncludes: true

# 強制在控制結構 (如 if, for, while) 的左括號前加一個空格
SpaceBeforeParens: ControlStatements

# 控制多行注釋的格式
CommentPragmas: '^ IWYU pragma:'

# 允許函數參數列表中多行對齊
AlignAfterOpenBracket: Align #AlwaysBreak

# 強制指針和引用符號與變量名對齊
PointerAlignment: Left

# 在逗號後強制添加空格
SpacesInAngles: false

# 強制為運算符兩邊添加空格
SpacesInContainerLiterals: true

AllowShortFunctionsOnASingleLine: InlineOnly

ReflowComments: true

IncludeBlocks: Regroup

